button {
	width: 60px;
	height: 28px;
}

input[type=text-box]  {
	width: 150px;
	height: 25px;
}

input.login{	
	width: 200px;	
	height: 25px;
}

.login{	
}
#loginbox{
	margin: 150px auto 0 auto;
	width:50%;
	height:25%;
	border-width: 1px;
}


#addProductBtn{
	margin-top: 20px;
	margin-left: 120px;
}

#productTypeDiv{
    margin: 150px auto 0 auto;
    width:30%;
    height:25%;
    border-width: 1px;
}

#addProductTypeBtn{
    margin-top: 16px;
}
